<div class="article-index-wrapper">
  <div class="container">
    <% @articles.each do |article| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="article-index-single">
            <h2 class="article-author">
              <%= article.admin.user.name %>
            </h2>
            <p class="article-text">
              <%= article.description %>
            </p>
            <h4 class="comment-title">投稿コメント</h4>
            
            <div id=<%= "comment_new#{review.id}" %>></div>
            
            <% review.comments.each do |comment| %>
              <p><%= comment.body %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>