<div class="review-index-wrapper">
  <div class="container">
    <% @gears.each do |gear| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="review-index-single">
            <h2 class="review-author">
              <a><%= gear.name %></a>
            </h2>
            <a><%= image_tag gear.image %></a>
            <p class="gear-text">
              <a><%= gear.content %></a>
            </p>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>