<div class="review-index-wrapper">
  <div class="container">
    <% @gears.each do |gear| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="review-index-single">
            <h2 class="review-author">
              <%= gear.name %>
            </h2>
            <p class="gear-text">
              <%= gear.content %>
            </p>
            <a href="https://www.amazon.co.jp/dp/B01IQTYE8A?tag=toaruit-22&#038;linkCode=ogi&#038;th=1&#038;psc=1" class="amazon-item-thumb-link" target="_blank" title="テンマクデザイン 陣幕ワイド" rel="nofollow noopener"><img src="https://m.media-amazon.com/images/I/31gczD3cVxL._SL160_.jpg" alt="テンマクデザイン 陣幕ワイド" width="160" height="160" class="amazon-item-thumb-image">Amazon</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>