<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white">CAMP GLAB</h1>
    <h2 class="text-white">キャンプ情報満載</h2>
  </div>
</div>
<div class="row">
  <div class="flex-container">
    <div class="flex-item"><a href="admin/articles/show">キャンプ特集</a></div>
    <div class="flex-item"><a href="#">キャンプギア</a></div>
    <div class="flex-item"><a href="#">キャンプ場</a></div>
    <div class="flex-item"><a href="#">レビュー</a></div>
  </div>
</div>