h1, h2 {
  font-weight: 100;
}

.text-white {
  color: red;
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('camp-4363073_1280.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}