h1, h2 {
  font-weight: 700;
}

.text-white {
  color: white;
  text-align: center;
}

.btn-white {
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #fff;
  }
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('picture/camp-4363073_1280.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: #464646;
}

.top-hero-container {
  position-bottom: 0;
  padding-top: 220px;
  
  h1 {
    font-size: 100px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}

.form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('picture/camp008.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .users-new-container {
    padding-top: 220px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}

.master-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .master-new-container {
    padding-top: 220px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.navbar-transparent {
    margin-bottom: 0px;
    background-color: rgba(0,0,0,0.5);
    a {
      color: #fff !important;
    }
  
    .navbar-brand {
      padding: 0;
      margin-top: 15px;
      margin-left: 15px;
    }
    
    .navbar-right {
      margin-right: 0;
    }
  
    img {
      height: 40px;
    }
  }

.btn-black {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #565656;
  }
}

.review-new-wrapper {
  padding-top: 120px;
}

.review-index-wrapper {
  padding-top: 70px;
  background-color: #fafafa;
  .review-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .review-author {
      padding-right: 20px;
      padding-left: 20px;
    }

    .review-text {
      padding-right: 20px;
      padding-left: 20px;
    }

    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }

    .review-index-icon {
      width: 35px;
      height: 30px;
      margin-left: 20px;
      
    }
    
    .like-btn {
       width: 35px;
       height: 30px;
       margin-left: 20px;
    }
      
    .unlike-btn {
       width: 35px;
       height: 30px;
       background-color: red;
       margin-left: 20px;
    }
  }
}

.text-area {
  font-size: 15px;
}

.comment-title {
  font-size: 15px;
  font-weight: bold;
  margin: 5px;
  border-bottom: solid 0.5px;
}

.flex-container {
	display: flex;
　justify-content: center;
　margin: auto 50px;
}

.flex-item {
	margin: 0 auto;
	padding: 5px 10px;
	box-sizing: border-box;
	background-color: #fff;
	font-size: 30px;
	transition: all  0.3s ease;
	a {
	  color: #336666;
	  text-decoration: none;
	}
}

.flex-item:hover{
	background-color: #336666;
  font-size: 30px;
  padding: 5px 10px;
  a {
    color: #fff;
    text-decoration: none;
  }
}

.iframe{
  width: 90%;
  heigth: 300px;
}